<%- include("header") -%>

    <div class="box" id="heading">
    <h1><%= ListTitle %></h1>
    </div>

  <div class="box">

      <% newListItems.forEach(function(itm){%>
        <form action="/delete" method="post">
          <div class="item">
        <input type="checkbox" name="checkbox" value="<%=itm._id%>" onChange="this.form.submit()">
        <p><%= itm.list_name %></p>
      </div>
        </form>
      <% }) %>


      <form class="item"  action="/" method="post">
        <input type="text" name="wanna_list" placeholder="New Item" autocomplete="off" >
        <button type="submit" name="list" value=<%= ListTitle %> >+</button>
        </form>
  </div>



<%- include("footer") -%>
